body, html {
    height: 100%;
}
body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pic/TechBackground.png");
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
	background-size: auto;
	color: white;
}
/* The hero image */
.Header-Image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(pic/background-index.png);

  /* Set a specific height */
  height: 35%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.Header-Image-Text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.column {
  float: left;
  width: 20%;
}

.left, .right {
  width: 15%;
}

.middle {
  width: 15%;
}